%% -*- erlang -*-
%% Config file for cl-application
{deps, []}.
{erl_opts, [debug_info, fail_on_warning]}.

{artifacts, ["priv/cl_nif.so"]}.

{provider_hooks, [{post, [{ct, edoc}, {ct, dialyzer}]}]}.

%% Assumes bash (even on windows)
{post_hooks,
 [%% Temporary hack for documented old usage
  {"", compile, "cp _build/default/lib/cl/ebin/* ebin"},
  %%
  {"(linux|darwin|solaris)", compile, "make -C c_src"},
  {"(freebsd)", compile, "gmake -C c_src"},
  {"", clean, "rm -f test/*.beam"},
  {"", clean, "rm -rf logs"},
  {"", clean, "rm -rf doc/*.html"},
  {"", clean, "rm -rf ebin/*"},
  {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
  {"(freebsd)", clean, "gmake -C c_src clean"}
 ]}.

