%% -*- erlang -*-
%% Config file for cl-application
{erl_opts, [debug_info, fail_on_warning]}.

{port_env, [
	    {"linux", "CFLAGS", "$CFLAGS -I/usr/include/nvidia-current"},
	    {"linux", "LDFLAGS", "$LDFLAGS -lOpenCL"},

	    {"darwin", "CFLAGS", "$CFLAGS -DDARWIN"},
	    {"darwin", "LDFLAGS", "$LDFLAGS -framework OpenCL"}
	   ]}.

{port_specs, [
	      {"(linux|freebsd|darwin)","priv/cl_nif.so",
	       [ "c_src/cl_nif.c",
		 "c_src/cl_hash.c" ]}
	     ]}.

{edoc_opts, [{doclet, edown_doclet}]}.
