%% -*- erlang -*-
%% Config file for cl-application
{erl_opts, [debug_info, fail_on_warning]}.

%% Also see rebar.config.script

{port_env, [
	    {"linux", "CFLAGS", "$CFLAGS $OPENCL_INCDIR -Wno-deprecated-declarations"},
	    {"linux", "LDFLAGS", "$LDFLAGS $OPENCL_LIBDIR -lOpenCL"},

	    {"darwin", "CFLAGS", "$CFLAGS -DDARWIN -Wno-deprecated-declarations"},
	    {"darwin", "LDFLAGS", "$LDFLAGS -framework OpenCL"},
	    
	    {"win32", "CFLAGS", "$CFLAGS -DWIN32 $OPENCL_INCDIR $WIN_TARGET"},
	    {"win32", "DRV_CFLAGS", "/nologo /Zi /W3 $ERL_CFLAGS"},
	    {"win32", "ERL_LDFLAGS", " /nologo /LIBPATH:$OPENCL_LIBDIR OpenCL.lib"}
	   ]}.

{port_specs, [
	      {"priv/cl_nif.so", [ "c_src/cl_nif.c","c_src/cl_hash.c" ]}
	     ]}.

{edoc_opts, [{doclet, edown_doclet}]}.
